@{
    ViewData["Title"] = "Files Page";
    var files = ViewBag.Files as string[];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if (files != null)
    {
        foreach (var file in files)
        {
            <p><a asp-route-fileName="@file" asp-controller="File" asp-action="Content">@file</a>
            </p>
        }
    }
    else
    {
        <p>No files found.</p>
    }
</div>