@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stefan Chen</h1>
    <h2>A01264634</h2>
    <p>When I graduate, I want to be a software developer/DevOp working for a company in Vancouver</p>
</div>
